<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="AdactinHotelTest">
    <classes>
      <class name="test.BookingTest"/>
      <class name="test.LoginTest"/>
      <class name="test.RegisterTest"/>
    </classes>
  </test> <!-- AdactinHotelTest -->
</suite> <!-- Suite -->
